{% extends "base.html.twig" %}
{% block css %}
    <style>
        .download-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a.download {
            display: inline-block;
            padding: 0.46em 1.6em;
            border: 0.1em solid #000000;
            margin: 0 0.2em 0.2em 0;
            border-radius: 0.12em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: #000000;
            text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
            background-color: #FFFFFF;
            text-align: center;
            transition: all 0.15s;
        }

        a.download:hover {
            text-shadow: 0 0 2em rgba(255, 255, 255, 1);
            color: #FFFFFF;
            border-color: #FFFFFF;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="download-content">
        <a href="{{ file.path }}" class="download" style="background-color:#42cc8c;">Download</a>
    </div>
{% endblock %}