{% extends "base.html.twig" %}
{% block css %}
    {% for content in css %}
        <style>{{ content|raw }}</style>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="markdown-body">
        {{ file.content|raw }}
    </div>
{% endblock %}

{% block javascript %}
    {% for content in javascripts %}
        <script>{{ content|raw }}</script>
    {% endfor %}
{% endblock %}